spring:
  application:
    name: drogueria-bellavista

  datasource:
    url: jdbc:postgresql://localhost:5433/drogueria_bellavista
    username: postgres
    password: JUNIORDIAZ
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: never

  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: America/Bogota

server:
  port: 8080
  servlet:
    context-path: /api

app:
  jwt:
    secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    expiration: 86400000